# NetCDF files
*.nc

# GeoTIFF files
*.tif

# ZIP files
*.zip

# pdf files
*.pdf

# ovr files
*.ovr

# hdf files
.hdf

# xlsx files
*.xlsx

# Jupyter checkpoints
.ipynb_checkpoints/

# Python cache
__pycache__/

# OS files
.DS_Store
